#banner {
  position: relative;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media all and (min-width: $mobile-width+1px) {
    height: 390px;
  }
  margin-bottom: 27px;
}

#profile {
  @include bg-white();
  position: absolute;
  height: 100%;
  width: 250px;
  text-align: center;
  @media all and (max-width: $mobile-width) {
    display: none;
  }
}

#personal-info {
  cursor: default;
  user-select: none;
  margin: 0 15px;
}

#avatar {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px outset rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 128px;
  width: 128px;
  border-radius: 50% !important;
  margin: {
    top: 27px;
    bottom: 15px;
    left: auto;
    right: auto;
  }
}

#name {
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 3px;
}

#title {
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: lighten(black, 30%);
  padding-bottom: 5px;
}

#location {
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: lighten(black, 60%);
  padding-bottom: 27px;
}

#site-info {
  cursor: default;
  user-select: none;
  display: table;
  width: 100%;
  margin: 0 !important;
  .site-info:first-child {
    border-right: 1px dotted #DCDCDC;
  }
}

.site-info {
  border-bottom: 1px dotted #DCDCDC;
  border-top: 1px dotted #DCDCDC;
  border-radius: 0 !important;
  box-sizing: border-box;
  color: #626262;
  float: left;
  line-height: 20px;
  width: 50%;
  padding: 12px 0;
}

#social-links {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.social-links {
  color: #626262 !important;
  &:visited {
    color: #626262 !important;
  }
  &:hover {
    color: darken($theme-color, 10%) !important;
  }
  display: table-cell;
  padding: 15px 0;
}

#banner-picture {
  @media all and (min-width: $mobile-width+1px) {
    margin-left: 270px;
  }
  height: 100%;
}