<footer>
    <div class="wrap">
        <div class="cc">
            本站采用<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
                <i class="fa fa-creative-commons"></i> 知识共享署名-非商业性使用 4.0 国际许可协议
            </a>进行许可<br/>转载请保留原文链接及作者
        </div>
        <div class="copyright">

        </div>
    </div>
</footer>