article {
  position: relative;
  color: #4d4d4d;
  line-height: 1.5;
  @include bg-white();
  margin-bottom: 27px;
  word-wrap: break-word;
  h1 {
    color: #333333;
    font-size: 27px;
    margin-bottom: 20px;
  }
  h2 {
    color: #333333;
    font-size: 23px;
    margin-bottom: 20px;
  }
  h3 {
    color: #333333;
    font-size: 20px;
    margin-bottom: 20px;
  }
  h4 {
    color: #333333;
    font-size: 19px;
    margin-bottom: 20px;
  }
  h5 {
    color: #333333;
    font-size: 15px;
    margin-bottom: 20px;
  }
  h6 {
    color: #333333;
    font-size: 13px;
    margin-bottom: 20px;
  }
  img {
    max-width: 50%;
  }
  table {
    margin: 20px 0;
  }
}

.article-format {
  color: white !important;
  position: absolute;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50% !important;
  background-color: #E83B3B;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  top: 24px;
  left: -16px;
}

.share-button {
  position: absolute;
  top: 65px;
  color: white !important;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50% !important;
  background-color: #4d4d4d;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  left: -16px;
  .no-touch &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}

.share-button-on {
  background-color: $hover-color;
}

.sharebox {
  position: absolute;
  display: none;
  z-index: 2;
  top: 59px;
  left: 30px;
}

.sharebox-show {
  display: block;
  @include bg-white();
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 227px;
  &:after {
    content: '';
    width: 17px;
    height: 16px;
    left: -24px;
    top: -5px;
    border-radius: 2px 2px 2px 2px;
    float: left;
    margin-left: 16px;
    margin-top: 16px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #FFF;
    box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.2);
  }
}

.share-type {
  height: 47px;
  line-height: 47px;
  padding: 0 10px;
  margin: 0 auto;
  display: table;
}

.share-link {
  display: table-cell;
  padding: 0 7px;
  font-size: 27px;
  color: darken(#626262, 10%);
  &:visited {
    color: darken(#626262, 10%);
  }
  &:hover {
    color: darken($theme-color, 10%) !important;
  }
}

.share-qrcode {
  color: #626262 !important;
  border-radius: 0 !important;
  border-top: 1px dashed #DCDCDC;
  width: 100%;
  height: 200px;
  padding: 11px 0;
  text-align: center;
  canvas {
    height: 100%;
  }
}

.article-title {
  a {
    font-weight: bold;
    color: #333333 !important;
    &:visited {
      color: #333333 !important;
    }
    &:hover {
      color: $hover-color !important;
    }
  }
  font-weight: bold;
  color: #333333 !important;
  font-size: 31px !important;
  margin: 0 !important;
  text-align: center;
  line-height: 42px;
  padding: {
    top: 20px;
    left: 27px;
    right: 27px;
  }
}

.article-info {
  padding: {
    top: 10px;
    bottom: 15px;
    left: 27px;
    right: 27px;
  }
  margin-bottom: 15px;
  border-bottom: 1px dashed #DCDCDC;
  border-radius: 0 !important;
  color: #B6B6B6 !important;
  font-size: 13px;
  text-align: center;
  div {
    display: inline-block;
    margin: 0 5px;
  }
}

.category-link {
  border-bottom: 1px dotted white;
  color: #B6B6B6 !important;
  &:visited {
    color: #B6B6B6 !important;
  }
  &:hover {
    border-bottom: 1px dotted #b6b6b6;
  }
}

.article-tags {
  padding-left: 30px;
  border-bottom: 1px dashed #DCDCDC;
  margin-bottom: 15px;
}

.tag-link {
  color: #828282;
  &:visited {
    color: #828282;
  }
  &:hover {
    background-color: darken($hover-color, 7%);
    color: white !important;
    &:before {
      background-color: darken($hover-color, 7%);
    }
  }
  margin: {
    bottom: 15px;
    right: 27px;
  }
  display: inline-block;
  font-size: 12px;
  padding: {
    left: 11px;
    right: 6px;
  }
  border-radius: 2px 0 0 2px;
  position: relative;
  background-color: #F1F1F1;
  height: 22px;
  line-height: 22px;
  text-transform: uppercase;
  z-index: 1;
  &:before {
    width: 16px;
    height: 16px;
    right: -8px;
    top: -13px;
    border-radius: 2px 2px 2px 2px;
    content: "";
    margin-top: 16px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #F1F1F1;
    -moz-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    z-index: -1;
  }
}

.article-content {
  padding: {
    left: 30px;
    right: 30px;
    bottom: 7px;
  }
  p {
    text-align: justify;
    font-size: 16px;
    margin: 20px 0;
  }
  a {
    color: darken($theme-color, 15%);
    &:visited {
      color: darken($theme-color, 15%);
    }
    &:hover {
      color: darken($hover-color, 11%);
    }
  }
}

.more-link {
  color: white !important;
  background-color: lighten($hover-color, 10%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
  padding: {
    top: 3px;
    bottom: 3px;
    left: 5px;
    right: 5px;
  }
  display: inline-block;
  margin-bottom: 20px;
  &:visited {
    color: white !important;
  }
  &:hover {
    color: white !important;
    background-color: lighten($theme-color, 10%);
  }
}