$theme-color: #38b7ea;
$hover-color: #6ac2c0;
$nav-color: #f7f7f7;
$fullscreen-width: 1280px+2*27px;
$tablet-width: 768px;
$mobile-width: 640px;

@mixin bg-white($alpha: 1) {
  background: {
    color: rgba(255, 255, 255, $alpha);
  }
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
}