header {
  @include bg-white();
  position: fixed;
  width: 100%;
  z-index: 9;
  a {
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 27px;
  }
  i {
    transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
  }
  .no-touch & .nav-item a:hover {
    background-color: $nav-color;
  }
  .fa-lg {
    font-size: 20px;
    vertical-align: baseline;
    line-height: 42px;
  }
}

.header-wrap {
  @media all and (max-width: $tablet-width) {
    padding: 0 !important;
  }
  @media all and (min-width: 1321px) {
    margin: {
      left: auto;
      right: auto;
    }
  }
}

.header-fixed {
  transform: translateY(0) !important;
}

#logo {
  float: left;
}

#site-title {
  border-right: 1px dashed #DCDCDC;
  color: $theme-color;
  float: left;
  font: {
    size: 20px;
    weight: bold;
  }
}

#nav-header {
  float: left;
  @media all and (max-width: $tablet-width) {
    display: none;
  }
}

#nav-header-mobile {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: -1;
  @media all and (min-width: $tablet-width+1px) {
    display: none;
  }
}

#nav-popup {
  @include bg-white();
  margin: 0 auto;
  height: 0;
  transition: height 0.2s ease;
  overflow: hidden;
  .nav-item {
    border-top: 1px dashed #DCDCDC;;
    display: block;
  }
}

#nav-search {
  float: right;
  height: 42px;
  text-align: center;
}

.nav-switch-on,
.search-switch-on {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
  -o-transform: rotate(90deg); /* Opera */
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.headroom--bottom,
.headroom--pinned {
  transform: translateY(0%);
}