aside {
  display: block;
  float: right;
  width: 300px;
  font-size: 13px;
  line-height: 20px;
  color: #828282;
  a {
    display: table-cell;
    color: #828282;
    &:visited {
      color: #828282;
    }
    .no-touch &:hover {
      color: $hover-color;
    }
  }
  @media all and (max-width: $tablet-width) {
    display: none;
  }
  & > div {
    @include bg-white();
    padding: {
      top: 27px;
      left: 20px;
      right: 15px;
      bottom: 22px;
    }
    margin-bottom: 27px;
  }
  h3 {
    height: 20px;
    color: #636363;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 11px;
  }
  ol, ul {
    padding-left: 0;
    margin: 0;
  }
  li {
    list-style: none;
    margin: 5px 0;
  }
  i {
    display: table-cell !important;
    color: #B6B6B6 !important;
    padding-right: 5px;
  }
  ul span {
    display: table-cell;
    color: #B6B6B6 !important;
  }
  table {
    width: 100%;
    text-align: center;
    a {
      display: block;
      background-color: #F1F1F1;
      border-radius: 3px;
      &:hover {
        background-color: $hover-color;
        color: white !important;
      }
    }
    tfoot td {
      border-top: 10px solid transparent;
    }
    .widget-calendar-today {
      background-color: darken($hover-color, 15%) !important;
      color: white !important;
      &:visited {
        background-color: darken($hover-color, 15%) !important;
        color: white !important;
      }
    }
  }
  ol a {
    font-size: 14px;
    .no-touch &:hover {
      color: $theme-color !important;
    }
  }
}

#tagcloud-canvas {
  margin-left: -20px;
  width: 300px;
  height: 300px;
  canvas {
    position: relative;
    top: -58px;
  }
}
